body {
    min-width: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-width: 1280px;
    max-width: 100%;
}

    .block {

    }

        .block__inner {
            box-sizing: border-box;
            max-width: 1200px;
            min-width: 960px;
            margin: 0 auto;
            overflow: hidden;
        }

    .block--header {
        height: 702px;
        background: url(../images/bed.jpg) center no-repeat;
        background-size: cover;
    }

        .logo {
            background: url(../images/logo.png) center no-repeat;
            background-size: cover;
            height: 314px;
            width: 328px;
            float: left;
            margin-top: 30px;
        }

        .contacts {
            float: right;
            text-align: right;
            margin-top: 15px;
        }

            .socials {
                margin-top: 10px;
            }

                .socials__link {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                }

                .socials__link--insta {
                    background: url(../images/instagram.png) center no-repeat;
                }

                .socials__link--youtube {
                    background: url(../images/youtube.png) center no-repeat;
                }

        .cloud {
            float: right;
            clear: both;
            background: url(../images/cloud.png) center no-repeat;
            background-size: cover;
            width: 447px;
            height: 447px;
            position: relative;
            top: -60px;
            right: 100px;
            padding: 70px 35px;
            box-sizing: border-box;
        }

            .cloud .textA {
                line-height: 1;
                text-align: center;
                font-size: 48px;
            }

            .cloud .textB {
                line-height: 22.5px;
                text-align: center;
                color: #222222;
                margin-top: 20px;
            }

    .block--about {}

        .block--about .block__inner {
            margin-bottom: 30px;
        }

        .block--about .textC {
            color: rgb(0, 158, 225);
            text-align: center;
            font-weight: normal;
        }

        .block--about img {
            display: block;
            margin: -50px auto 0;
            clear: both;
        }

        .block__text {
            width: 30%;
            float: left;
            margin-right: 5%;
            text-align: justify;
            color: rgb(0, 158, 225);
        }

        .block__text:nth-child(4) {
            color: rgb(255, 126, 186);
        }

        .block__text:last-child {
            margin-right:0
        }

            .block__text_header {
                font-family: lobster, sans-serif;
                font-size: x-large;
                line-height: 38.4px;
                text-align: center;
                margin-bottom: 15px;
            }

            .block__text_content {
                font-family: verdana, geneva, sans-serif;
                font-size: 16px;
                line-height: 1.5;
            }

    .block--knowmore {
        background: rgb(0, 158, 225);

    }

        .block--knowmore .block__inner {
            position: relative;
        }

        .block--knowmore .textC {
            color: #fff;
            text-align: center;
            font-weight: normal;
        }

        .block--knowmore img {
            display: block;
            margin: 0 auto 30px;
            clear: both;
        }

        .block--knowmore iframe {
            position: absolute;
            top: 175px;
            left: 50%;
            margin-left: -280px;
        }

    .block--reasons {
        background-color: #dadada;
    }

        .block--reasons .textC {
            color: rgb(0, 158, 225);
            text-align: center;
            font-weight: normal;
        }

        .reason {
            width: 351px;
            height: 460px;
            float: left;
            color: rgb(0, 158, 225);
            padding: 210px 74px 0 78px;
            box-sizing: border-box;
        }

        .reason:first-child {
            background: url(../images/r1.png);
            margin-left: 118px;
            margin-right: -45px;
        }

        .reason:nth-child(2) {
            background: url(../images/r2.png);
            color: rgb(255, 126, 186);
        }

        .reason:nth-child(3) {
            background: url(../images/r3.png);
            margin-left: -45px;
        }

        .reason:nth-child(4) {
            background: url(../images/r4.png);
            color: rgb(255, 126, 186);
            margin-left: 260px;
            margin-right: -35px;
            margin-top: -100px;
        }

        .reason:last-child {
            background: url(../images/r5.png);
            margin-top: -100px;
        }

            .reason__header {
                text-align: right;
                font-family: lobster,sans-serif;
                font-size: 18px;
                overflow: hidden;
            }

                .reason__header:after {
                    content: "";
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    background: url(../images/i-r1.png) center no-repeat;
                    background-size: cover;
                    float: left;
                }

                .reason:nth-child(2) .reason__header:after{
                    background: url(../images/i-r2.png) center no-repeat;
                    background-size: cover;
                }

                .reason:nth-child(3) .reason__header:after{
                    background: url(../images/i-r3.png) center no-repeat;
                    background-size: cover;
                }

                .reason:nth-child(4) .reason__header:after{
                    background: url(../images/i-r4.png) center no-repeat;
                    background-size: cover;
                }

                .reason:nth-child(5) .reason__header:after{
                    background: url(../images/i-r5.png) center no-repeat;
                    background-size: cover;
                }

                .reason__header span {
                    width: 85px;
                    height: 60px;
                    line-height: 30px;
                    display: inline-block;
                    float: left;
                    margin-left: 25px;
                }

            .reason__text {
                font-family: verdana, geneva, sans-serif;
                line-height: 1.4;
                font-size: 12px;
                text-align: center;
                color: #696969;
                clear: both;
                margin-top: 10px;
            }

            .reason__subtitle {
                font-style: italic;
                font-size: 8px;
                color: #A9A9A9;
                text-align: center;
                margin-top: 10px;
            }

    .block--order {
        padding: 50px 0;
    }

        .block--order .block__inner {
            overflow: hidden;
        }

        .block--order .block__left {
            width: 50%;
            float: left;
        }

            .block__left h2 {
                font-size: 68px;
                line-height: 1.2;
                color: rgb(0, 158, 225);
                font-family: lobster, sans-serif;
                font-weight: normal;
                text-align: right;
                margin-right: 50px;
            }

            .block__left p {
                color: #ff7ebb;
                text-align: right;
                font-size: 28px;
                font-family: lobster, sans-serif;
                margin-right: 50px;
            }

        .block--order .block__right {
            width: 50%;
            float: left;
            background: rgb(0, 158, 225);
            color: #fff;
            border-radius: 30px;
        }

            .block--order .block__right h2 {
                color: rgb(255, 255, 255);
                font-family: lobster, sans-serif;
                font-size: 50px;
                line-height: 75px;
                text-align: center;
                font-weight: normal;
                margin: 0 0 10px;
            }

            .br_input, .model_type {
                width: 75%;
                display: block;
                margin: 10px auto 0;
                height: 50px;
                border-radius: 10px;
                border: none;
                outline: none;
                font-size: 16px;
                color: #0f303f;
                padding-left: 15px;
                box-sizing: border-box;
            }

            .br_button {
                background-color: #ff7ebb;
                height: 50px;
                width: 75%;
                margin: 10px auto;
                color: #fff;
                font-size: 26px;
                display: block;
                border: none;
                outline: none;
                cursor: pointer;
                border-radius: 10px;
            }

                .br_button:hover {
                    background-color: #ff007b;
                }

.phone {
    font-family: lobster, sans-serif;
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
}

    .block--freetime {
        background-color: #ff7ebb;
        color: #fff;
        padding-bottom: 60px;
    }

        .block--freetime h2 {
            font-weight: normal;
            text-align: center;
        }

        .ft_options {
            overflow: hidden;
        }

            .ft_options__item {
                width: 25%;
                float: left;
                text-align: center;
                margin: 0 3%;
            }

            .ft_options__item:before {
                content: "";
                display: block;
                margin: 40px auto;
            }

            .ft_options__item:nth-child(1):before {
                background: url(../images/fr1.png) center no-repeat;
                width: 71px;
                height: 61px;
                background-size: cover;
            }

            .ft_options__item:nth-child(2):before {
                background: url(../images/fr2.png) center no-repeat;
                width: 60px;
                height: 61px;
                background-size: cover;
            }

            .ft_options__item:nth-child(3):before {
                background: url(../images/fr3.png) center no-repeat;
                width: 57px;
                height: 61px;
                background-size: cover;
            }

            .ft_options__item:nth-child(4):before {
                background: url(../images/fr4.png) center no-repeat;
                width: 66px;
                height: 61px;
                background-size: cover;
            }

            .ft_options__item:nth-child(5):before {
                background: url(../images/fr5.png) center no-repeat;
                width: 67px;
                height: 61px;
                background-size: cover;
            }

            .ft_options__item:nth-child(6):before {
                background: url(../images/fr6.png) center no-repeat;
                width: 73px;
                height: 61px;
                background-size: cover;
            }

            .ft_options__item:first-child,
            .ft_options__item:nth-child(4) {
                margin-left: 6%;
            }

    .block--patent {
        padding: 30px 0;
    }

        .block--patent .block__inner {
            overflow:hidden;
            width: 960px;
        }

            .block--patent .block__left {
                width: 50%;
                float: left;
            }

                .block--patent .block__left img {
                    display: block;
                    margin: 0 auto;
                }

            .block--patent .block__right {
                width: 50%;
                float: left;
                text-align: center;
            }

                .block--patent .textC {
                    color: rgb(0, 158, 225);
                    text-align: center;
                    font-weight: normal;
                    margin: 0;
                }

                .block--patent .block__right img {
                    display: block;
                    margin: 30px auto;
                }

    .block--compare {
        background: #dadada;
    }

        .block--compare .textC {
            color: rgb(0, 158, 225);
            text-align: center;
            font-weight: normal;
        }

        .c_table {
            margin: 0 auto;
            width: 924px;
        }

            .c_table__row {
                overflow: hidden;
                color: #fff;
                background: #ff7ebb;
                font-family: verdana,geneva,sans-serif;
                height: 40px;
            }

                .c_table__col {
                    float: left;
                    min-height: 100%;
                    /*width: 15%;*/
                    width: 12%;
                    text-align: center;
                    line-height: 40px;
                    font-size: 20px;
                    box-sizing: border-box;
                    border-right: 1px solid #fff;
                }

                .c_table__col:first-child {
                    width: 40%;
                    text-align: left;
                    padding: 12px 0 10px 20px;
                    box-sizing: border-box;
                    line-height: 1;
                    font-size: 18px;
                }

                .c_table__col:last-child {
                    border: none;
                }

            .c_table__row:first-child {
                background: none;
            }

            .c_table__row:nth-child(2n) {
                background: rgb(0, 158, 225);
            }

            .c_table__row:nth-child(2) {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .c_table__row:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .c_table__row:nth-child(12),
            .c_table__row:nth-child(14),
            .c_table__row:last-child {
                height: 58px;
            }

                .c_table__row:nth-child(12) .c_table__col:not(:first-child),
                .c_table__row:nth-child(14) .c_table__col:not(:first-child),
                .c_table__row:last-child .c_table__col:not(:first-child) {
                    line-height: 58px;
                }

                .c_table__row:first-child .c_table__col {
                    color: rgb(0, 158, 225);
                    /*font-size: 20px;*/
                    font-size: 17px;
                    font-family: lobster, sans-serif;
                    border: none;
                }

                .c_table__row:first-child .c_table__col:nth-child(2n) {
                    color: rgb(255, 126, 186);
                }

            .block--compare .br_button {
                width: 240px;
                font-size: 22px;
                font-family: Lobster, sans-serif;
                font-weight: normal;
                margin-top: 30px;
                text-decoration: none;
                line-height: 50px;
                text-align: center;
                margin-bottom: 20px;
            }

.block--compare p {
    text-align: center;
    font-family: lobster, sans-serif;
    font-size: 16px;
    color: #808080;
    margin-bottom: 40px;
}

    .block--guarantee {
        padding: 30px 0;
        text-align: justify;
    }

        .block--guarantee .block__inner {
            overflow: hidden;
            width: 960px;
        }

            .block--guarantee .block__left,
            .block--guarantee .block__right {
                width: 50%;
                float: left;
            }

                .block--guarantee .block__left img {
                    display: block;
                    margin: 0 auto;
                }

                .block--guarantee .textC {
                    color: rgb(255, 126, 186);
                    text-align: center;
                    font-weight: normal;
                    margin: 0;
                }

                .block--guarantee p:not(.textD) {
                    font-family: verdana,geneva,sans-serif;
                    font-size: 16px;
                    color: #696969;
                    margin: 32px 0px;
                }

    .block--models {
        background: #dadada;
        padding-bottom: 30px;
    }

        .block--models h2 {
            color: rgb(0, 158, 225);
            text-align: center;
            font-weight: normal;
        }

        .models {
            overflow: hidden;
            width: 960px;
            margin: 0 auto;
        }

            .model {
                width: 49%;
                float: left;
                background-color: #009ee1;
                height: 350px;
                border-radius: 10px;
                margin: 0.5%;
                padding: 1%;
                box-sizing: border-box;
            }

/*.model:nth-child(2n) {*/
/*background-color: #ff7ebb;*/
/*}*/

.model:nth-child(2),
.model:nth-child(3) {
                background-color: #ff7ebb;
            }

                .model__title {
                    height: 40px;
                    color: #fff;
                    overflow: hidden;
                }

                    .model__title div:first-child {
                        font-family: lobster,sans-serif;
                        font-size: 24px;
                        width: 50%;
                        float: left;
                        text-align: center;
                    }

                    .model__title div:last-child {
                        font-family: verdana,geneva,sans-serif;
                        font-size: 20px;
                        width: 50%;
                        float: left;
                        text-align: center;
                        height: 30px;
                        margin-top: 10px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        background-color: #ff7ebb;
                        line-height: 30px;
                    }

/*.model:nth-child(2n) .model__title div:last-child {*/
/*background-color: #009ee1;*/
/*}*/

.model:nth-child(2) .model__title div:last-child,
.model:nth-child(3) .model__title div:last-child {
                        background-color: #009ee1;
                    }

                .model__desc {
                    background: #fff;
                    border-radius: 10px;
                    border-top-right-radius: 0;
                    overflow: hidden;
                    height: 220px;
                    padding: 10px 0 10px 20px;
                }

                    .model__desc img {
                        display: block;
                        float: left;
                    }

                    .model__desc ul {
                        float: left;
                        width: 190px;
                        font-size: 14px;
                    }

                .model__btn {
                    width: 100%;
                    font-size: 22px;
                    font-family: Lobster, sans-serif;
                    font-weight: normal;
                    text-decoration: none;
                    line-height: 40px;
                    text-align: center;
                    display: block;
                    height: 40px;
                    color: #fff;
                    border-radius: 10px;
                    margin-top: 10px;
                }

                    .model__btn:hover {
                        background-color: #ff7ebb;
                    }

.model__desc ul li:last-child {
    list-style: none;
    margin-top: 10px;
}

.model__link {
    text-transform: uppercase;
    color: #009ee1;
}

.model__link:hover {
    color: #ff7ebb;
}

/*.model:nth-child(2n) .model__btn:hover {*/
/*background-color: #009ee1;*/
/*}*/

.model:nth-child(2) .model__btn:hover,
.model:nth-child(3) .model__btn:hover {
                        background-color: #009ee1;
                    }

.model--new {
    float: none;
    margin: 0 auto 20px;
    position: relative;
}

.model--new::before {
    content: 'New!';
    color: #fff;
    background: #ff7ebb;
    width: 220px;
    height: 200px;
    display: block;
    position: absolute;
    left: -220px;
    top: 25%;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-family: lobster, sans-serif;
    font-size: 90px;
    padding: 40px 0 0 20px;
    box-sizing: border-box;
}

    .block--video {
         background: rgb(0, 158, 225);
    }

        .block--video .block__inner {
            position: relative;
        }

            .block--video .textC {
                color: #fff;
                text-align: center;
                font-weight: normal;
            }

            .block--video img {
                display: block;
                margin: 0 auto 50px;
                clear: both;
            }

            .block--video iframe {
                position: absolute;
                top: 167px;
                left: 50%;
                margin-left: -208px;
            }

    .block--delivery {
        padding-bottom: 30px;
    }

        .block--delivery h2 {
            color: rgb(0, 158, 225);
            font-weight: normal;
            text-align: center;
        }

        .delivery {
            overflow: hidden;
            width: 960px;
            margin: 0 auto;
        }

            .dlr__type {
                width: 49%;
                float: left;
                margin: 0.5%;
                border-radius: 20px;
                background: rgb(0, 158, 225);
                padding: 3px;
                box-sizing: border-box;
                position: relative;
            }

            .dlr__type:first-child {
                background: rgb(255, 126, 186);
            }

                .dlr__type_desc {
                    background: #fff;
                    border-radius: 17px;
                    height: 254px;
                    padding: 70px 0 0 150px;
                    box-sizing: border-box;
                }

                    .dlr__type_desc:before {
                        content:  "";
                        display: block;
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        left: 33px;
                        top: 70px;
                    }

                    .dlr__type_desc--self:before {
                        background: url(../images/d1.png) center no-repeat;
                        background-size: cover;
                    }

                    .dlr__type_desc--door:before {
                        background: url(../images/d3.png) center no-repeat;
                        background-size: cover;
                        top: 358px;
                    }

                    .dlr__type_desc--point:before {
                        background: url(../images/d2.png) center no-repeat;
                        background-size: cover;
                    }

                    .dlr__type_desc--company:before {
                        background: url(../images/d4.png) center no-repeat;
                        background-size: cover;
                        top: 60px;
                    }

                .dlr__type_title {
                    height: 40px;
                    line-height: 40px;
                    font-family: lobster,sans-serif;
                    font-size: 24px;
                    color: #fff;
                    text-align: center;
                }

                .dlr__type_desc div:first-child {
                    font-family: lobster,sans-serif;
                    font-size: 26px;
                    color: #009ee1;
                }

                .dlr__type:first-child .dlr__type_desc div:first-child {
                    color: rgb(255, 126, 186);
                }

                .dlr__type_desc div:last-child {
                    color: rgb(68, 59, 63);
                    font-family: verdana, geneva, sans-serif;
                    font-size: 15px;
                    line-height: 24px;
                    margin: 15px 20px 0 0;
                }

    .block--faq {
        background: #dadada;
        padding-bottom: 50px;
    }

        .block--faq h2 {
            text-align: center;
            color: #fff;
            font-weight: normal;
        }

            .block--faq h2 span:first-child {
                color: rgb(0, 158, 225);
            }

            .block--faq h2 span:last-child {
                color: rgb(255, 126, 186);
            }

        .questions {
            margin-left: 424px;
            position: relative;
        }

            .questions:before {
                content: "";
                display: block;
                position: absolute;
                height: 568px;
                width: 363px;
                background: url(../images/vopros.png) center no-repeat;
                background-size: cover;
                top: -91px;
                left: -349px;
            }

            .questions__item {
                width: 75%;
                text-align: justify;
                position: relative;
                padding-left: 50px;
                margin-bottom: 30px;
            }

            .questions__item
            p:first-child {
                color: rgb(117, 113, 116);
                font-family: lobster, sans-serif;
                font-size: x-large;
                line-height: 38.4px;
                margin-bottom: 0;
            }

            .questions__item
            p:last-child {
                color: rgb(68, 59, 63);
                font-family: verdana, geneva, sans-serif;
                font-size: 15px;
                line-height: 1.3;
                margin: 0;
            }

                .questions__item:before {
                    content: "?";
                    font-family: lobster,sans-serif;
                    font-size: 36px;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    margin-top: -28px;
                    color: rgb(255, 126, 186);
                }

                .questions__item:nth-child(2n):before {
                    color: rgb(0, 158, 225);
                }

    .block--footer {
        padding: 20px 0;
    }

        .block--footer .block__inner {
            overflow: hidden;
        }

            .ftr_logo {
                width: 30%;
                float: left;
            }

            .ftr_contacts {
                float: left;
                width: 35%;
            }

                .ftr_contacts .textA {
                    color: rgb(68, 59, 63);
                    font-size: 30px;
                    line-height: 45px;
                    margin-bottom: 20px;
                }

                .ftr_contacts .textB {
                    color: rgb(68, 59, 63);
                    margin-bottom: 20px;
                }

            .ftr_copyright {
                float: left;
                width: 35%;
            }

                .ftr_copyright p {
                    color: rgb(34, 34, 34);
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: right;
                    clear: both;
                }

    .link {
        background-color: #009ee1;
        border-radius: 7px;
        display: block;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        width: 240px;
        height: 50px;
        line-height: 50px;
        color: #ffffff;
        font-size: 22px;
        font-family: Lobster, sans-serif;
        font-weight: normal;
    }

            .ftr_copyright .link {
                float: right;
                margin-bottom: 50px;
            }

            .cloud .link {
                margin: 0 auto;
            }

    .cloud .textB {
        font-size: 14px;
        margin-bottom: 15px;
    }

/* -------------------------------------------------------------------------------*/
/*                             TEXT STYLES                                        */
/* -------------------------------------------------------------------------------*/

.textA {
    color: rgb(255, 126, 186);
    font-family: lobster, sans-serif;
    font-size: 36px;
    line-height: 54px;
}

.textB {
    color: rgb(0, 158, 225);
    font-family: verdana, geneva, sans-serif;
    font-size: 15px;
    line-height: 22.5px;
}

.textC {
    font-size: 46px;
    line-height: 73.6px;
    font-family: lobster, sans-serif;
}

.textD {
    font-family: lobster,sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 158, 225);
}

.textE {
    font-size: 100px;
    line-height: 1;
}