html, body {
    width: 100%;
    min-height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

    .container {
        width: 100%;
    }

        .block {}

        .block--header {
            width: 100%;
            height: 366px;
            height: 114vw;
            background: url(../images/bg.jpg) center no-repeat;
            background-size: cover;
            position: relative;
        }

            .block--header:before {
                content: "";
                display: block;
                position: absolute;
                width: 79px;
                width: 25vw;
                height: 76px;
                height: 24vw;
                top: 10px;
                top: 3vw;
                left: 32px;
                left: 10vw;
                background: url(../images/logo_mob.png) center no-repeat;
                background-size: cover;
            }

            .contacts {
                color: #fff;
                font-size: 6.4px;
                font-size: 2vw;
                text-align: right;
                font-family: verdana, geneva, sans-serif;
                width: 147px;
                width: 46vw;
                height: 32px;
                height: 10vw;
                margin-top: 10px;
                margin-top: 3vw;
                box-sizing: border-box;
                background: rgba(255, 125, 189, 0.32);
                border-radius: 20px;
                border-radius: 6.25vw;
                float: right;
                margin-right: 14px;
                margin-right: 4vw;
                border: 2.5px solid transparent;
                border: 0.8vw solid transparent;
                box-sizing: border-box;
            }

                .contacts__inner {
                    background: #ff7dbd;
                    width: 141px;
                    width: 44.5vw;
                    height: 27px;
                    height: 8.5vw;
                    border-radius: 20px;
                    border-radius: 6.25vw;
                    padding-right: 8px;
                    padding-right: 2.5vw;
                    padding-top: 2px;
                    padding-top: 0.625vw;
                    box-sizing: border-box;
                }

                .contacts__inner span:first-child {
                    font-size: 12px;
                    font-size: 3.75vw;
                    display: block;
                }

        .block--about {
            background: url(../images/bg_about.png) #419ee4 center no-repeat;
            background-size: 100%;
            padding: 0 28.5px 26.5px;
            padding: 0 8.9vw 8.3vw;
            color: #fff;
        }

            .clouded {
                width: 232px;
                width: 72.5vw;
                height: 134px;
                height: 41.875vw;
                background: url(../images/cloud_mob.png) center no-repeat;
                background-size: cover;
                color: #f170b8;
                font-family: lobster, sans-serif;
                font-size: 17px;
                font-size: 5.3vw;
                text-align: center;
                padding-top: 15%;
                box-sizing: border-box;
                position: relative;
                top: -80px;
                top: -25vw;
                margin: 0 auto;
            }

            .block__text {
                text-align: center;
                font-family: verdana, geneva, sans-serif;
                font-size: 11px;
                font-size: 3.33vw;
            }

            .block--about .block__text:nth-child(2) {
                margin-top: -50px;
                margin-top: -15.6vw;
            }

            .block__title {
                margin: 0;
                font-weight: normal;
                font-family: lobster, sans-serif;
                text-align: center;
                font-size: 19px;
                font-size: 6vw;
            }

            .block--about .block__title {
                margin-top: 30px;
                margin-top: 9.4vw;
            }

            .about__slider {
                width: 263px;
                width: 82vw;
                height: 455px;
                height: 142vw;
                background: url(../images/bg_about_slider.jpg) #fff top center no-repeat;
                background-size: 100%;
                border-radius: 10px;
                border-radius: 3.125vw;
                margin-top: 60px;
                margin-top: 18.75vw;
                padding-top: 192px;
                padding-top: 60vw;
                box-sizing: border-box;
            }

            .about__slider .swiper-container {
                width: 100%;
                height: 289px;
                height: 90vw;
            }

                .ss__title {
                    color: #b7968b;
                    font-family: lobster, sans-serif;
                    text-align: center;
                    font-size: 19px;
                    font-size: 6vw;
                }

                .ss__text {
                    color: #4c4f55;
                    text-align: center;
                    font-family: verdana, geneva, sans-serif;
                    font-size: 10px;
                    font-size: 3.125vw;
                    margin: 17px 50px 0;
                    margin: 5vw 6vw 0;
                    line-height: 1.5;
                }

                .about__slider .swiper-button-next {
                    background: #7cb342;
                    font-family: verdana, geneva, sans-serif;
                    font-size: 12px;
                    font-size: 3.75vw;
                    text-transform: uppercase;
                    width: 119px;
                    width: 37vw;
                    height: 35px;
                    height: 11vw;
                    border-radius: 20px;
                    border-radius: 6.25vw;
                    text-align: center;
                    line-height: 35px;
                    line-height: 11vw;
                    top: 73%;
                    left: 50%;
                    margin-top: 0;
                    margin-left: -59.5px;
                    margin-left: -18.5vw;
                }

                .about__slider .swiper-pagination.swiper-pagination-bullets {
                    bottom: 0px;
                }

                    .about__slider .swiper-pagination-bullet {
                        width: 5px;
                        height: 5px;
                        width: 1.6vw;
                        height: 1.6vw;
                        margin: 0 4.3px!important;
                        margin: 0 1.3vw!important;
                        background: #fff;
                        opacity: 0.5;
                    }

                    .about__slider .swiper-pagination-bullet-active {
                        opacity: 1;
                    }

        .block--adv {
            height: 343px;
            height: 107vw;
            width: 100%;
            background: url(../images/cloud_adv.png) #419ee4 center no-repeat;
            background-size: cover;
            color: #f170b9;
            text-align: center;
            font-family: lobster, sans-serif;
            font-size: 28px;
            font-size: 8.8vw;
            padding-top: 38%;
            box-sizing: border-box;
        }

        .block--knowmore {
            background: #419ee4;
            color: #fff;
            padding-top: 8.5px;
            padding-top: 2.7vw;
            padding-bottom: 16px;
            padding-bottom: 5vw;
        }

            .km__video {
                width: 204.8px;
                width: 64vw;
                height: 204.8px;
                height: 64vw;
                border-radius: 50%;
                background: rgba(243, 250, 250, 0.52);
                margin-top: 21px;
                margin-top: 7vw;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
            }

                .km__video iframe {
                    width: 191px;
                    width: 59.7vw;
                    height: 191px;
                    height: 59.7vw;
                    border-radius: 50%;
                    margin: 6.8px;
                    margin: 2.13vw;
                }

        .block--reasons {
            height: 569px;
            height: 178vw;
            background: #419ee4;
            color: #fff;
            padding-top: 64px;
            padding-top: 20vw;
            text-align: center;
            box-sizing: border-box;
        }

            .reasons__slider {
                margin-top: 28px;
                margin-top: 9vw;
            }

                .reasons__slider .swiper-container {
                    height: 354px;
                    height: 111vw;
                    width: 222px;
                    width: 69.5vw;
                }

                    .reasons__slider .swiper-slide {
                        width: 100%;
                        height: 265px;
                        height: 83vw;
                        padding-top: 60%;
                        box-sizing: border-box;
                    }

                    .swiper-slide--r1 {
                        background: url(../images/bg_r1.png) center no-repeat;
                        background-size: cover;
                    }

                    .swiper-slide--r2 {
                        background: url(../images/bg_r2.png) center no-repeat;
                        background-size: cover;
                    }

                    .swiper-slide--r3 {
                        background: url(../images/bg_r3.png) center no-repeat;
                        background-size: cover;
                    }

                    .swiper-slide--r4 {
                        background: url(../images/bg_r4.png) center no-repeat;
                        background-size: cover;
                    }

                    .swiper-slide--r5 {
                        background: url(../images/bg_r5.png) center no-repeat;
                        background-size: cover;
                    }

                        .reasons__slider .ss__title {
                            color: #2a2a2a;
                            font-size: 21px;
                            font-size: 6.7vw;
                        }

                        .reasons__slider .ss__text {
                            color: #2a2a2a;
                            margin: 13px 50px 0;
                            margin: 4vw 6vw 0;
                            line-height: 1.2;
                        }

                        .reasons__slider .ss__subtext {
                            text-align: center;
                            font-family: verdana, geneva, sans-serif;
                            color: #747474;
                            margin: 13px 48px 0;
                            margin: 4vw 15vw 0;
                            font-size: 10px;
                            font-size: 3.125vw;
                        }

                    .reasons__slider .swiper-pagination.swiper-pagination-bullets {
                        bottom: 0px;
                    }

                    .reasons__slider .swiper-pagination-bullet {
                        width: 8.5px;
                        height: 8.5px;
                        width: 2.7vw;
                        height: 2.7vw;
                        margin: 0 4.3px!important;
                        margin: 0 1.3vw!important;
                        background: #fff;
                        opacity: 0.5;
                    }

                    .reasons__slider .swiper-pagination-bullet-active {
                        opacity: 1;
                    }

        .block--order {
            height: 524px;
            height: 164vw;
            background: #fff;
            text-align: center;
            box-sizing: border-box;
            padding: 21px 0;
            padding: 6.7vw 0;
        }

            .block--order .block__title {
                color: #f170b9;
                font-size: 23px;
                font-size: 7vw;
            }

            .form {
                width: 263px;
                width: 82vw;
                height: 361px;
                height: 113vw;
                background: #419ee4;
                color: #fff;
                font-family: lobster, sans-serif;
                border-radius: 10px;
                border-radius: 3.125vw;
                box-sizing: border-box;
                padding: 15px 0 23px;
                padding: 5vw 0 7vw;
                margin: 17px auto 21px;
                margin: 5.3vw auto 6.7vw;
            }

                .form h2 {
                    font-family: lobster, sans-serif;
                    font-size: 25px;
                    font-size: 7.7vw;
                    text-align: center;
                    font-weight: normal;
                    margin: 0 0 15px;
                    margin: 0 0 4.7vw;
                }

                .br_input, .model_type {
                    width: 85%;
                    display: block;
                    margin: 7px auto 0;
                    margin: 2.13vw auto 0;
                    height: 40px;
                    height: 12.5vw;
                    border-radius: 10px;
                    border-radius: 3.125vw;
                    border: none;
                    outline: none;
                    font-size: 11px;
                    font-size: 3.4vw;
                    color: #0f303f;
                    padding-left: 15px;
                    padding-left: 4.7vw;
                    box-sizing: border-box;
                }

                .form div {
                    margin: 25px 0 17px;
                    margin: 7.8vw 0 5.3vw;
                    font-size: 12px;
                    font-size: 3.75vw;
                }

                .br_button {
                    background-color: #ff7ebb;
                    height: 40px;
                    height: 12.5vw;
                    width: 85%;
                    color: #fff;
                    font-size: 12px;
                    font-size: 3.75vw;
                    display: block;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    border-radius: 10px;
                    border-radius: 3.125vw;
                    margin: 7px auto 0;
                    margin: 2.13vw auto 0;
                }

                    .br_button:hover {
                        background-color: #ff007b;
                    }

            .phone {
                font-family: lobster, sans-serif;
                color: #404040;
                font-size: 12px;
                font-size: 3.75vw;
            }

                .phone span {
                    color: #419ee4;
                }

        .block--freetime {
            height: 569px;
            height: 178vw;
            background: url(../images/cloud_fr.png) #f170b9 bottom center no-repeat;
            background-size: 100%;
            color: #fff;
            padding-top: 48px;
            padding-top: 15vw;
            box-sizing: border-box;
        }

            .ft_options {
                overflow: hidden;
                padding: 33px 28px 0;
                padding: 10.3vw 8.75vw;
            }

                .ft_options__item {
                    width: 46%;
                    float: left;
                    text-align: center;
                    margin: 0 2%;
                    font-size: 8.5px;
                    font-size: 2.7vw;
                    font-family: verdana, geneva, sans-serif;
                    height: 122px;
                    height: 38.4vw;
                }

                    .ft_options__item:before {
                        content: "";
                        display: block;
                        margin: 17px auto;
                        margin: 5.3vw auto;
                    }

                    .ft_options__item:nth-child(1):before {
                        background: url(../images/fr1.png) center no-repeat;
                        width: 48.64px;
                        width: 15.2vw;
                        height: 42px;
                        height: 13vw;
                        background-size: cover;
                    }

                    .ft_options__item:nth-child(2):before {
                        background: url(../images/fr2.png) center no-repeat;
                        width: 40px;
                        width: 12.5vw;
                        height: 42px;
                        height: 13vw;
                        background-size: cover;
                    }

                    .ft_options__item:nth-child(3):before {
                        background: url(../images/fr3.png) center no-repeat;
                        width: 39px;
                        width: 12.2vw;
                        height: 42px;
                        height: 13vw;
                        background-size: cover;
                    }

                    .ft_options__item:nth-child(4):before {
                        background: url(../images/fr4.png) center no-repeat;
                        width: 46px;
                        width: 14.375vw;
                        height: 42px;
                        height: 13vw;
                        background-size: cover;
                    }

                    .ft_options__item:nth-child(5):before {
                        background: url(../images/fr5.png) center no-repeat;
                        width: 46px;
                        width: 14.375vw;
                        height: 42px;
                        height: 13vw;
                        background-size: cover;
                    }

                    .ft_options__item:nth-child(6):before {
                        background: url(../images/fr6.png) center no-repeat;
                        width: 50px;
                        width: 15.625vw;
                        height: 42px;
                        height: 13vw;
                        background-size: cover;
                    }

        .block--patent {
            height: 569px;
            height: 178vw;
            background: #fff;
            box-sizing: border-box;
            padding-top: 21px;
            padding-top: 6.67vw;
        }

            .block--patent .block__title {
                color: #f170b9;
                font-size: 23px;
                font-size: 7vw;
            }

            .patent {
                display: block;
                margin: 12.8px auto 0;
                margin: 4vw auto 0;
                width: 206.5px;
                width: 64.5vw;
                height: 293px;
                height: 91.6vw;
            }

            .unique {
                display: block;
                width: 87px;
                height: 87px;
                width: 27.2vw;
                height: 27.2vw;
                margin: 17px auto;
                margin: 5.3vw auto;
            }

            .block--patent p {
                font-size: 10px;
                font-size: 3.2vw;
                color: #4b4b4b;
                font-family: verdana, geneva, sans-serif;
                text-align: center;
                margin: 0 auto;
            }

.block--guarantee {
    height: 569px;
    height: 178vw;
    background: #fff;
    box-sizing: border-box;
}

.block__top {
    height: 292px;
    height: 91.2vw;
    background: #419ee4;
    color: #fff;
    padding-top: 21px;
    padding-top: 6.7vw;
}

.block__top .block__title {
    font-size: 23px;
    font-size: 7vw;
}

.bt_img {
    width: 203px;
    height: 203px;
    width: 63vw;
    height: 63vw;
    border-radius: 50%;
    background: #fff;
    margin: 19px auto 0;
    margin: 6vw auto 0;
    overflow: hidden;
    box-sizing: border-box;
}

.bt_img img {
    width: 140px;
    width: 44vw;
    display: block;
    margin: 28px auto 0;
    margin: 8.7vw auto 0;
}

.block--guarantee h3 {
    color: #f170b9;
    font-family: lobster, sans-serif;
    font-size: 17px;
    font-size: 5.3vw;
    text-align: center;
    font-weight: normal;
    margin: 28px auto 19px;
    margin: 8.7vw auto 6vw;
}

.block--guarantee p {
    font-size: 11px;
    font-size: 3.3vw;
    color: #282828;
    font-family: verdana, geneva, sans-serif;
    text-align: center;
    margin: 0 28px 13px;
    margin: 0 8.7vw 4vw;
}

.block--models {
    height: 550px;
    height: 172vw;
    background: #fff;
    box-sizing: border-box;
    padding: 0 28px;
    padding: 0 8.7vw;
}

.block--models .block__title {
    font-size: 23px;
    font-size: 7vw;
    color: #f170b9;
    margin: 23px auto;
    margin: 7vw auto;
}

.model {
    width: 100%;
    height: 480px;
    height: 150vw;
    background: #419ee4;
    border-radius: 10px;
    border-radius: 3.125vw;
    box-sizing: border-box;
    padding: 10px;
    padding: 3.2vw;
}

.model__inner {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    border-radius: 3.125vw;
    box-sizing: border-box;
    padding: 0 8.5px;
    padding: 0 2.7vw;
    overflow: hidden;
    position: relative;
}

.model__name, .model__price {
    color: #ff7ec1;
    font-family: lobster, sans-serif;
    font-size: 15px;
    font-size: 4.7vw;
    margin: 15px 0 8.5px;
    margin: 4.7vw 0 2.7vw;
    text-align: center;
}

.model__price {
    margin: 4px auto 0;
    margin: 1.25vw auto 0;
    text-align: center;
}

.model__img {
    width: 100%;
    /*height: 110px;
    height: 34.5vw;*/
}

.model__list {
    margin-top: 16px;
    margin-top: 5vw;
    padding-left: 20px;
    padding-left: 6.25vw;
    margin-bottom: 0;
}

.model__list li {
    color: #2d2c2c;
    font-size: 10px;
    font-size: 3vw;
    font-family: verdana, geneva, sans-serif;
    margin-bottom: 3px;
    margin-bottom: 1vw;
}

.btn {
    background-color: #ff7ebb;
    height: 19px;
    height: 6vw;
    width: 88px;
    width: 28vw;
    color: #fff;
    font-size: 12px;
    font-size: 3.75vw;
    line-height: 19px;
    line-height: 6vw;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 1.5vw;
    text-decoration: none;
    text-align: center;
    font-family: verdana, geneva, sans-serif;
    position: absolute;
    bottom: 8px;
    bottom: 2.5vw;
    left: 50%;
    margin-left: -44px;
    margin-left: -14vw;
}

.btn:hover {
    background-color: #ff007b;
}

.model + .model {
    margin-top: 30px;
    margin-top: 9.3vw;
}

.models__slider .swiper-container {
    height: 512px;
    height: 160vw;
}

.models__slider .swiper-pagination {
    bottom: 0;
}

.models__slider .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    width: 3.33vw;
    height: 3.33vw;
    background: #419ee4;
    opacity: 0.3;
    margin: 0 10px;
    margin: 0 3.125vw;
}

.models__slider .swiper-pagination-bullet-active {
    opacity: 1;
}

.block--delivery {
    height: 544px;
    height: 170vw;
    background: #fff;
    box-sizing: border-box;
}

.block--delivery .block__title {
    font-size: 23px;
    font-size: 7vw;
    color: #f170b9;
    margin: 29px 0;
    margin: 8.9vw 0;
}

.delivery {
}

.dlr__type {
    width: 263px;
    width: 82vw;
    margin: 0 auto;
    border: 2px solid #ff7ec1;
    border: 0.625vw solid #ff7ec1;
    border-radius: 5px;
    border-radius: 1.5625vw;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}

.dlr__type + .dlr__type {
    margin: 29px auto 0;
    margin: 8.9vw auto 0;
    border-color: #419ee4;
}

.dlr__type_desc {
    background: #fff;
    height: 85px;
    height: 27vw;
    padding: 25px 12px 0 139px;
    padding: 8vw 4vw 0 43.5vw;
    box-sizing: border-box;
    border-radius: 5px;
    border-radius: 1.5625vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dlr__type_desc:before {
    content: "";
    display: block;
    width: 76px;
    width: 24vw;
    height: 76px;
    height: 24vw;
    position: absolute;
    left: 21px;
    left: 6.7vw;
    top: 25px;
    top: 8vw;
}

.dlr__type_desc--self:before {
    background: url(../images/d1.png) center no-repeat;
    background-size: cover;
}

.dlr__type_desc--door:before {
    background: url(../images/d3.png) center no-repeat;
    background-size: cover;
    top: 128px;
    top: 40vw;
}

.dlr__type_desc--point:before {
    background: url(../images/d2.png) center no-repeat;
    background-size: cover;
}

.dlr__type_desc--company:before {
    background: url(../images/d4.png) center no-repeat;
    background-size: cover;
    top: 128px;
    top: 40vw;
}

.dlr__type_desc div:first-child {
    font-family: verdana, geneva, sans-serif;
    font-size: 15px;
    font-size: 4.7vw;
    color: #009ee1;
}

.dlr__type:first-child .dlr__type_desc div:first-child {
    color: rgb(255, 126, 186);
}

.dlr__type_desc div:last-child {
    color: #282828;
    font-family: verdana, geneva, sans-serif;
    font-size: 8px;
    font-size: 2.4vw;
    line-height: inherit;
    margin: 8px 0 0 0;
    margin: 2.4vw 0 0 0;
}

.dlr__type_title {
    height: 38px;
    height: 12vw;
    line-height: 38px;
    line-height: 12vw;
    font-family: lobster, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-size: 4.7vw;
    border-radius: 3px;
    border-radius: 0.9vw;
    background: #ff7ec1;
}

.dlr__type_desc:last-child {
    border-radius: 5px;
    border-radius: 1.5625vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dlr__type + .dlr__type .dlr__type_desc {
    padding: 16px 12px 0 139px;
    padding: 5vw 4vw 0 43.5vw;
}

.dlr__type + .dlr__type .dlr__type_title {
    background: #419ee4;
}

.block--faq {
    background: #419ee4;
    color: #fff;
    /*height: 489px;
    height: 152.8vw;*/
    box-sizing: border-box;
    padding: 57px 80px 38px 28px;
    padding: 18vw 25vw 12vw 9vw;
    position: relative;
    overflow: hidden;
}

.block--faq:before {
    content: '?';
    display: block;
    font-size: 419px;
    font-size: 131vw;
    font-family: lobster, sans-serif;
    position: absolute;
    top: 0;
    right: -55px;
    right: -17vw;
}

.block--faq .block__title {
    font-size: 25px;
    font-size: 8vw;
    text-align: left;
}

.questions {
    margin-top: 35px;
    margin-top: 11vw;
    width: 84%;
}

.questions__item {
    margin-bottom: 20px;
    margin-bottom: 6.25vw;
}

.questions__item p:first-child {
    font-family: lobster, sans-serif;
    font-size: 13px;
    font-size: 4vw;
    margin: 0 0 11px;
    margin: 0 0 3.3vw;
}

.questions__item p:last-child {
    font-family: verdana, geneva, sans-serif;
    font-size: 8.5px;
    font-size: 2.7vw;
    margin: 0;
}

.block--footer {
    text-align: center;
    padding: 20px 0 6px;
    padding: 6.4vw 0 2vw;
}

.link {
    color: #419ee4;
    font-family: lobster, sans-serif;
    font-size: 19px;
    font-size: 6vw;
    text-decoration: none;
    display: block;
}

.block--footer .contacts {
    float: none;
    margin: 0 auto;
    font-family: lobster, sans-serif;
    font-size: 25px;
    font-size: 8vw;
    height: 54px;
    height: 17vw;
    width: 231px;
    width: 72vw;
    border-radius: 15px;
    border-radius: 4.7vw;
    border: 4px solid transparent;
    border: 1.3vw solid transparent;
    margin: 10px auto 18px;
    margin: 3.2vw auto 5.6vw;
}

.block--footer .contacts__inner {
    height: 46px;
    height: 14.4vw;
    padding: 0;
    width: 228px;
    width: 69.6vw;
    border-radius: 15px;
    border-radius: 4.7vw;
    text-align: center;
}

.block--footer .contacts__inner span:first-child {
    font-size: 25px;
    font-size: 8vw;
    line-height: 46px;
    line-height: 14.4vw;
}

.address {
    font-size: 11px;
    font-size: 3.3vw;
    color: #282828;
    font-family: verdana, geneva, sans-serif;
    margin: 0;
}

.socials {
    margin: 15px 0;
    margin: 4.8vw 0;
}

.socials__link {
    display: inline-block;
    width: 14px;
    height: 14px;
    width: 4.5vw;
    height: 4.5vw;
}

.socials__link--insta {
    background: url(../images/instagram.png) center no-repeat;
    background-size: cover;
}

.socials__link--youtube {
    background: url(../images/youtube.png) center no-repeat;
    background-size: cover;
}

.ftr_copyright p {
    color: #282828;
    margin: 0;
    font-family: verdana, geneva, sans-serif;
    font-size: 6.4px;
    font-size: 2vw;
}